@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    border: 0;
    margin: 0;
}
.top-bar{
    width: 100%;
    height: auto;
    background: #CCF6F3;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'poppins';
}
.contact{
    width: auto;
    height: 90%;
    /* border: 1px solid; */
    display: inline-flex;
    margin-left: 10px;
    gap: 10px;
    align-items: center;
    font-family: 'poppins';
}
.social{
    width: auto;
    height: 100%;
    /* border: 1px solid; */
    display: inline-flex;
    margin-right: 20px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    font-family: 'poppins';
}
.fa-facebook{
    border-radius: 360%;
    padding: 3px;
    font-size: 20px;
    margin: 5px;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;

}
.fa-youtube{
    border-radius: 360%;
    padding: 3px;
    font-size: 20px;
    margin: 5px;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;

}
.fa-linkedin{
    border-radius: 360%;
    padding: 3px;
    font-size: 20px;
    margin: 5px;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;

}
.fa-twitter{
    border-radius: 360%;
    padding: 3px;
    font-size: 20px;
    margin: 5px;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;

}
.fa-instagram{
    border-radius: 360%;
    padding: 3px;
    font-size: 20px;
    margin: 5px;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;

}
.search-bar{
    width: 100%;
    height: 70px;
    background: #001513;
    align-content: space-between;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    gap: 20px;
}
.logo{
    width: 110px;
    height: 96%;
    margin-left: 2%;
    border: 1px solid;
    align-items: center;
    /* border: 1px solid red; */
    display: flex;
}
.fa-camera{
   margin-left: 21vw;
}
.search{
    width: 55%;
    height: 60%;
    border: 1px solid;
    align-items: center;
    /* border: 1px solid red; */
    display: flex;
    background: #5C5C5C;
    border-radius: 10px;
    
}
.search button{
    width: 10%;
    height: 100%;
    background: #5C5C5C;
    color: white;
    font-family: 'poppins';
}
.bar{
    width: 70%;
    height: 100%;
    background: #5C5C5C;
    color: white;
    font-family: 'poppins';
    font-size: 20px;
}
.fa-search{
    font-size: 20px;
    color: #fff;
   background: none;
   
}
.fa-camera{
    font-size: 20px;
    color: #fff;
   background: none;
   display: flex;
   justify-content: flex-end;
}

.cart{
    /* border: 1px solid blue; */
    width: 10%;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 15px;
}
.cart button{
    background: none;
}
.fa-filter {
   font-size: 20px;
   color: #fff;
   background: none;

}
.fa-shopping-cart{
    font-size: 20px;
    color: #fff;
   background: none;
}
.fa-heart{
    font-size: 20px;
    color: #fff;
   background: none;
}
.login{
    /* border: 1px solid blue; */
    width: 12%;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 15px;
}
.btn1{
    width: 80%;
    height: 100%;
    background: none;
    color: #fff;
    font-family: 'poppins';
    font-size: 1rem;
}
.fa-user{
    font-size: 15px;
    color: #fff;
   background: none;
   margin-left: 10px;
}
.fa-language{
    font-size: 22px;
    color: #fff;
   background: none;
   margin-left: 30px;
   background: none;
    border: none;
    
}
select #cars {
    border:0px;
    outline:0px;
 }
.dropdown{
    width: 10%;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
    
}
/* .nav-bar{
    width: 100%;
    height: auto;
    background: #D9D9D9;
    justify-content: center;
    align-items: center;
    
}
.nav-bar ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}
.nav-bar ul li{
    position: relative;
    list-style: none;
    font-family: 'poppins';
    font-size: 1.3rem;
    font-weight: 500;
    
} */
/* banner */
.container{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}
.slider-wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;

}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    /* overflow-x: hidden; */
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25) ; */
    overflow-x: scroll;
    overflow-y: hidden;
}
.slider::-webkit-scrollbar{
    opacity: .1;
    
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    z-index: 1;
}
.slider-nav a{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #3b3333;
    opacity: 0.75;
    cursor: pointer;
    transition: all 0.3s;
}
.slider-nav a.active{
    opacity: 1;
    transform: scale(1.25);
    color: #001513;
    transform: scale(4px);
}
.slider-nav a:hover{
    opacity: 1;
    transform: scale(1.25);
    color: #001513;
}
/* .slider-nav a:focus{
    outline: none;
}
.slider-nav a:not(:last-child){
    margin-right: 1rem;
}
.slider-nav a:last-child{
    margin-right: 0;
} */
/* category */
.category{
    width: 100%;
    height: 220vh;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 3%;
}
.category-wrapper{
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    margin:0 auto;

}
.category-wrapper h1{
    font-family: 'poppins';
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}   
.category-item{
    height: 23%;
    width: 30%;
    display: inline-block;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 2%;
    border-radius: 15px;
    text-align: center;
    background: #F4F4F4;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    /* font-family: 'poppins';
    font-size: 20px; */

}

.category-item img{
    width: 70%;
    height: 80%;
    padding: 0px 5px 0px 0px;
    object-fit: contain;
    border-radius: 15px;
    mix-blend-mode: multiply;
}
.category-item img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.brand-carousel{
    width: 100%;
    height: 30vh;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-family: 'poppins';
    font-size: 1.5rem;
    font-weight: 400;
}
.brand-carousel-wrapper{
    width: 80%;
    height: 200px;
    /* border: 1px solid red; */
    margin: auto;
    /* margin-top: 2%; */
    text-align: center;
    font-family: 'poppins';
    font-size: 1.5rem;
    font-weight: 400;
    gap: 30px;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;

}
.brand-carousel-wrapper::-webkit-scrollbar{
    opacity: .1;
    
}
.brand-carousel-item{
    border-radius: 360%;
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    display: inline-flex;
    transform:translateX(50%);
}

.blog{
    width: 90%;
    height: 80vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    
}
.title{
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
}
.outline{
    width: 100%;
    height: 80%;
    /* border: 1px solid blue; */
    display: inline-block;
}
.part{
    width: 30%;
    height: 80%;
    /* border: 1px solid brown; */
    display: inline-block;
    box-shadow: 0px 0.7654320001602173px 2.2962961196899414px 0px rgba(0, 0, 0, 0.30);
    border-radius: 11.481px;
    /* margin: 10px; */
    margin-left: 3%;
}

.title h3{
    width: 70%;
    height: 50%;
    /* border: 1px solid orange; */
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'poppins';
}
.part img{
    width: 100%;
    height: 60%;
}
.b-content h5{
    font-size: 20px;
}
.b-content{
    margin-left: 5px;
    font-family: poppins;
}

.b-content a{
    color: #00D1C1;
}
.customer-review{
    width: 100%;
    height: auto;
    border: 1px solid;
    gap: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    
}
.customer-carousel{
    width: 99.5%;
    height: 30vh;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: -2%;
    text-align: center;
    font-family: 'poppins';
    font-size: 1.5rem;
    font-weight: 400;
}
.customer-wrapper{
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    margin: auto;
    /* margin-top: 2%; */
    text-align: center;
    font-family: 'poppins';
    font-size: 1.5rem;
    font-weight: 400;
    gap: 30px;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;

}

.customer-review-head{
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
}
.customer-review-head h3{
    text-align: center;
    font-family:' poppins';
    font-size: 40px;
    font-weight: 600;
    font-family: 'poppins';
}
.review{
    width:500px;
    height: 190px;
    /* border: 1px solid red; */
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: inline-block;
    border-radius: 15px;
    background: #F4F4F4;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    margin: 15px;

}
.customer-img{
    width: 190px;
    height: 190px;
    border-radius: 150px;
    background-color:#D9D9D9;
    display: inline-block;
    margin-left: -20px;
}
.customer-img img{
    object-fit: cover;
}
.customer-info{
    width: 200px;
    height: 130px;
    /* border: 1px solid red; */
    text-align: center;
    margin-left:10px;
    position: relative;
    top: -70px;
    color: #001513;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    font-family: 'poppins';
    line-height: 50px;
    display: inline-block;
    
}
.customer-info h5{
    color: #001513;
    font-family: 'Poppins';
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fa-star{
    color: #00D1C1;
    font-family: 'Poppins';
    font-size: 29px;
}
.customer-wrapper::-webkit-scrollbar{
    opacity: .1;
    
}

   /* footer */
footer{
    margin-top: 5%;
}
   .f-border{
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    
}
.f-outline{
    background-color: #001513;
}
.f-top{
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
    background-color: #00D1C1;
    display: inline-flex;
    align-items: center;
}
.f-head{
    width: 40%;
    height: 100%;
    /* border: 1px solid yellow;    */
    margin-left: 20px;
}
.f-head h4{
    font-family: poppins;
    font-size: 1.3rem;
    color: #fff;
}
.f-head p{
    font-family: poppins;
    font-size: 20px;
    /* margin-top: -4%; */
    color: #fff;
    line-height: 30px;
}
.f-mail{
    width: 35%;
    height: 5vh;
    /* border: 1px solid red; */
    border-radius: 5px;
    margin-left: 20%;
    display: flex;
}
.f-email{
    width: 80%;
    height: 93%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    background: #fff;
    padding-left: 5px;
}
.f-btn{
    width: 20%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background: #000;
    font-family: poppins;
    color: #fff;
}
.f-outline{
    width: 100%;
    height: 60%;
    /* border: 1px solid aqua; */
    display: flex;
}
.f-logo{
    width: 33%;
    height: 100%;
    /* border: 1px solid hotpink; */
    align-items: center;

}
.f-important{
    width: 33%;
    height: 100%;
    /* border: 1px solid brown; */
    display: flex;
}

.f-gadgets{
    width: 34%;
    height: 100%;
    /* border: 1px solid navy; */
    display: flex;
}
.f-contact{ 
    width: 100%;
    height: 5vh;
    /* border: 1px solid blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'poppins';
    background-color: #001513;
 } 
  .f-logo img {
 width: 50%;
 height: 25%;
 /* border:1px solid white; */
 margin-left:100px;
 margin-top: 30px;
 } 
 .f-office{
    width: 65%;
    height: 25%;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-left: 100px;
    color: #00D1C1;
 }
.f-office h6{
    font-size: 20px;
    font-family: poppins;
    text-align: top;
    margin-top: -2px;
}
.f-office p{
    font-size: 16px;
    font-family: poppins;
    line-height: 30px;
    
    color: white;
}
.f-links{
    width: 100%;
    height: 90%;
    /* border: 1px solid white; */
    text-align: center;
    color: #00D1C1;
    column-count: 2;
     /* border: solid black; */
     /* border-width: 0 3px 3px 0; */
     display: inline-block;
     padding: 3px;
      }
      
/* .f-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} */
.f-links h3{
    font-family: poppins;
    text-align: left;
    margin-top: 1px;
    margin-left: 5px;
}
.f-links ul{
    font-family: poppins;
    letter-spacing: 1px;
    margin-left: -20px;
    font-size: 17px;
    text-align: left;
    color: #fff;
    display: flexbox;
}
.f-gadgets{
    width: 34%;
    height: 90%;
    /* border: 1px solid white; */
}
.f-gadgets h3{
    font-family: poppins;
    margin-top:1px;
    margin-left: 5px;
    color:#00D1C1;
}
.f-links-2{
    width: 100%;
    height: 90%;
    /* border: 1px solid white; */
    text-align: center;
    color: #00D1C1;
    column-count: 2;
     /* border: solid black; */
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 3px;
      }
.f-links-2 h3{
    font-family: poppins;
    text-align: left;
    margin-top: 1px;
    margin-left: 5px;
}
.f-links-2 ul{
    font-family: poppins;
    letter-spacing: 1px;
    margin-left: -20px;
    font-size: 17px;
    text-align: left;
    color: #fff;
    display: flexbox;
}
.f{
    color: white;
}
footer hr{
    width: 100%;
    height: 3px;
    background-color: #fff;
    
}